.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 1000px;
}

.Typewriter {
    color: var(--heading-color);
    font-size: 2rem;
}

.intro-name {
    color: var(--highlighter);
    font-weight: bold;
}

.intro-subtitle {
    color: var(--heading-color);
    margin-top: -0.5rem;
    font-size: 1.2rem;
    padding: 0rem 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.intro-desc {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0rem 1.5rem;
    margin-bottom: 1.5rem;
}

.intro-btn {
    text-decoration: none;
    color: var(--highlighter);
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--highlighter);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (min-width : 650px) {
    .intro {
        margin: auto;
        min-height: 100vh;
        padding-top:4rem;
    }
    .Typewriter {
        font-size: 3rem;
    }

    .intro-subtitle {
        font-size: 1.8rem;
        margin-top: -1.3rem;
        line-height: 1.8rem;
    }
    .intro-desc {
        font-size: 1.2rem;
        max-width: 700px;
    }
}