.projects {
    padding-top: 4rem;
    font-size: 0.9rem;
}

.projects-header {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.projects-card {
    background-color: var(--light-bg-color);
    border-radius: 16px;
    padding: 1.5rem;
}

.projects-card:hover {
    background-color: var(--lightest-bg-color) !important;
}

.projects-grid {
    list-style: none;
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.external-links {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}
.git-icon {
    margin-bottom: 1px;
    color: var(--heading-color);
}
.git-icon:hover {
    color: var(--highlighter);
}
.open-icon {
    color: var(--heading-color);
}

.open-icon:hover {
    color: var(--highlighter);
}

.folder-icon {
    color: var(--highlighter);
}

.card-title {
    color: var(--heading-color);
    font-size: 1rem;
    font-weight: bold;
}

.card-desc {
    line-height: 1.5rem;
    margin-top: 1rem;
}

.card-tech {
    margin-top: 1rem;
    font-size: 0.8rem;
}

@media only screen and (min-width : 650px) {
    .projects {
        max-width: 1000px;
        margin: auto;
    }

    .projects-header {
        font-size: 2rem;
    }
    .card-title {
        font-size: 1.1rem;
    }
}